.travelLogTitles
{
    font-weight:bold;
}

.travelLog:nth-child(even)
{
    background-color:#ccc;
}

.travelLogTitles div:last-child, .travelLog div:last-child
{
    text-align:right;
    flex: 0.316 0 0;
    display: flex;
}

.dateCol
{
    flex:0.39 0 0;
}

.tag
{
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

.buttons
{

}